*{
    margin: 0;
}
body {
    background-color: rgb(171, 171, 201);
}

#grid-div {
    display: grid;
    grid-template-areas: 'header header'
        'sidebar sidebar'
        'main main'
        'main main'
        'footer footer';
    width: 100vw;
    height: 100vh;
    grid-template-rows: 50px;
    grid-template-columns: 50px;

}

#header {
    grid-area: header;
    display: flex;
    background-color: transparent;
    height: 95%;
    align-items: center;
    justify-content: center;
    justify-content: space-around;

}

#sidebar {
    grid-area: sidebar;
    display: flex;
    width: 100%;
    color: rgb(255, 251, 251);
    background-color: transparent;
    font-weight: bolder;
    font-size: 20px;
    justify-content: center;
    justify-content: space-around;

}

#main {
    grid-area: main;
    border: 2px solid #fff;
    border-radius: 7%;
    display: block;
}

#main1 {
    grid-area: main;
    border: 2px solid #fff;
    border-radius: 1%;
    display: block;
    margin-left: -4vw;
    width: 97%;
}

@keyframes animation-me {
    from {
        filter: drop-shadow(0 0 0.75rem rgb(186, 235, 12));
    }

    to {
        filter: drop-shadow(0 0 0.75rem rgb(12, 226, 40));
    }
}

#me11 {
    display: flex;
    background-image: url('PHOTO-2022-04-19-23-52-55.jpg');
    background-position: center;
    background-size: cover;
    transform: translate(42vw, 1vh);
    width: 100px;
    height: 130px;
    border: 1px solid white;
    border-radius: 50%;
    animation: animation-me 1s infinite alternate;
    transition: 1.2s;
}

#me11:hover {
    width: 130px;
    height: 180px;
}

@keyframes animation-me2 {
    from {
        text-shadow: 2px 2px red;
    }

    to {
        text-shadow: 2px 2px rgb(255, 145, 0);
    }
}

#me2 {
    text-align: center;
    font-family: 'Bungee', cursive;
    font-family: 'Teko', sans-serif;
    font-size: 42px;
    animation: animation-me2 3s infinite alternate;
}

#me3 {
    text-align: center;
    font-family: 'Bungee', cursive;
    font-family: 'Teko', sans-serif;
    font-size: 38px;
    text-shadow: 1.5px 3px #b6db86;
}

#me {
    display: flex;
    justify-content: center;
}

#p1 {
    /* padding-left: 20vw;
    padding-right: 15vw;
    font-size: 28px; */
    text-shadow: 0.5px 2px chartreuse;

}

#study {
    display: flex;
    justify-content: center;
}

#p2 {
    display: flex;
    text-align: center;
    font-size: 20px;
    text-shadow: 0.5px 2px chartreuse;
}

#idf {
    display: flex;
    justify-content: center;
}

#p3 {
    display: flex;
    text-align: center;
    font-size: 20px;
    text-shadow: 0.5px 2px chartreuse;
}

#work {
    display: flex;
    justify-content: center;
}

#p4 {
    display: flex;
    text-align: center;
    font-size: 20px;
    text-shadow: 0.5px 2px chartreuse;}

#hobbies {
    display: flex;
    justify-content: center;
}

#p5 {
    display: flex;
    text-align: center;
    font-size: 20px;
    text-shadow: 0.5px 2px chartreuse;
}

@keyframes animation-p6 {
    from {
        text-shadow: 2px 2px red;
    }

    to {
        text-shadow: 2px 2px rgb(255, 145, 0);
    }
}

#p6 {
    padding-left: 20vw;
    padding-right: 15vw;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
    font-style: italic;
    animation: animation-p6 3s infinite alternate;
}

@keyframes animation-projects {
    0% {
        background-image: url(צילום\ מסך\ 2022-04-22\ 144620.png);
        background-size: 99%;
        background-repeat: no-repeat;
    }

    50% {
        background-image: url(צילום\ מסך\ 2022-04-22\ 144830.png);
        background-size: 99%;
        background-repeat: no-repeat;

    }

    100% {
        background-image: url(צילום\ מסך\ 2022-04-22\ 145001.png);
        background-size: 99%;
        background-repeat: no-repeat;
    }
}

#project {
    animation: animation-projects 12s infinite alternate;
    display: flex;
    width: 250px;
    height: 250px;
    transform: translate(18vw, 5vh);
    filter: drop-shadow(5px 3px 2px black);
    border-radius: 5%;
}

#footer {
    grid-area: footer;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
    margin-right: 2vw;
}

@keyframes animation-phone {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(-20deg)
    }
}

#phone {
    transition: 1s;
}

#phone:hover {
    animation: animation-phone 1s infinite alternate;

}

@keyframes animation-email {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(-50deg)
    }
}

#email {
    transition: 1s;
}

#email:hover {
    animation: animation-email 1s infinite alternate;
}